.u-section-1 .u-sheet-1 {
  min-height: 991px;
}

.u-section-1 .u-form-1 {
  height: 283px;
  width: 400px;
  border-style: solid;
  box-shadow: 10px 13px 20px 0 rgba(251,236,237,0.4);
  margin: 34px 542px 0 28px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.75rem;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-btn-1 {
  font-size: 0.75rem;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 5px 30px 6px;
}

.u-section-1 .u-form-2 {
  height: 461px;
  border-style: solid;
  box-shadow: 7px 8px 8px 0px rgba(128,128,128,1);
  margin: 28px 787px 60px 28px;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 123px;
  margin: ;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 4px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 527px;
    margin-left: 13px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 602px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 395px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 140px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 15px;
  }
}