.th_c_1{
    width: 50px;
    text-align: center;
    color: white;
}

.td_c_1{
    width: 50px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_2{
    width: 100px;
    text-align: center;
    color: white;
}

.td_c_2{
    width: 100px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_3{
    width: 150px;
    text-align: center;
    color: white;
}

.td_c_3{
    width: 150px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_4{
    width: 80px;
    text-align: center;
    color: white;
}

.td_c_4{
    width: 80px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_5{
    width: 80px;
    text-align: center;
    color: white;
}

.td_c_5{
    width: 80px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_6{
    width: 80px;
    text-align: center;
    color: white;
}

.td_c_6{
    width: 80px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_7{
    width: 200px;
    text-align: center;
    color: white;
}

.td_c_7{
    width: 200px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_8{
    width: 50px;
    text-align: center;
    color: white;
}

.td_c_8{
    width: 50px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_9{
    width: 80px;
    text-align: center;
    color: white;
}

.td_c_9{
    width: 80px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_10{
    width: 80px;
    text-align: center;
    color: white;
}

.td_c_10{
    width: 80px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_11{
    width: 60px;
    text-align: center;
    color: white;
}

.td_c_11{
    width: 60px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_12{
    width: 60px;
    text-align: center;
    color: white;
}

.td_c_12{
    width: 60px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}

.th_c_13{
    width: 60px;
    text-align: center;
    color: white;
}

.td_c_13{
    width: 60px;
    text-align: center;
    color: hsl(230, 5%, 78%);
}


.th_u_1{
    width: 50px;
    text-align: center;
    color: white;
}

.td_u_1{
    width: 50px;
    text-align: center;
    color: white;
}

.th_u_2{
    width: 50px;
    text-align: center;
    color: white;
}

.td_u_2{
    width: 50px;
    text-align: center;
    color: white;
}

.th_u_3{
    width: 100px;
    text-align: center;
    color: white;
}

.td_u_3{
    width: 100px;
    text-align: center;
    color: white;
}

.th_u_4{
    width: 100px;
    text-align: center;
    color: white;
}

.td_u_4{
    width: 100px;
    text-align: center;
    color: white;
}

.th_u_5{
    width: 80px;
    text-align: center;
    color: white;
}

.td_u_5{
    width: 80px;
    text-align: center;
    color: white;
}

.th_u_6{
    width: 80px;
    text-align: center;
    color: white;
}

.td_u_6{
    width: 80px;
    text-align: center;
    color: white;
}

.th_u_7{
    width: 80px;
    text-align: center;
    color: white;
}

.td_u_7{
    width: 80px;
    text-align: center;
    color: white;
}

.th_u_8{
    width: 80px;
    text-align: center;
    color: white;
}

.td_u_8{
    width: 80px;
    text-align: center;
    color: white;
}



